@charset "EUC-KR";
 .right {
    position: fixed;
    left: 280px;
    bottom:30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    
  }
  .left {
    position: fixed;
    right: 280px;
    bottom:30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
  }
  
  #agree {
    position :relative;
    left: 200px;
    
  }
  #login1{
    position :relative;
    left: 230px;
  }
  #basket {
    position :relative;
    left: 260px;
  }
  #order {
    position :relative;
    left: 290px;
  }
  
  #notice {
    position :relative;
    right: 320px;
  }
  
  #faq {
    position :relative;
    right: 290px;
  }
  #review {
    position :relative;
    right: 260px;
  }
  #menu {
 
   background: #1c205f;
   height: 100px;
   
  }
  .sub{
   
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: bold;
  
  }
  
  #site {
   position: relative;
   left: 160px;
  }
  
  #club {
   position: relative;
   left: 360px;
  }
  
  #view {
   position: relative;
   left: 560px;
  }
  
  #sale {
   position: relative;
   left: 760px;
  }
  
  #event {
   position: relative;
   left: 960px;
  }
  #bm {
   position: relative;
   top: 700px;
   border-top: 1px solid;
  }
  
#banner {
   position: relative;
   top: 40px; 
  }
  #help {
   top: 60px;
   background-color: #1c205f;
   color: white;
   width: 1000px;
   height: 30px; 
   font-weight: bold;
   line-height: 30px;
 
  }  
.container {
	position: relative;
	left:315px;
	top: 100px;
}
#tb{
	top:100px;
}
#tb,#tb tr,#tb td {
    background: #fff;
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom:1px solid #ddd;
}
#tb,#tb tr:nth-child(2n) #tb td {
    background: #f5f5f5;
}

#btn {
        position: relative;
        background: rgb(28,32,95);
        top: 200px;
        left: 1240px; 
        color: white;
        width:100px;
        height:40px;
        text-align: center;
        font-weight: bold;

    }




